@charset "UTF-8";

@font-face {
	font-family: 'haeck';
	font-style: normal;
	font-weight: normal;
	src: url('haeck-regular-webfont.eot');
	src: url('haeck-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('haeck-regular-webfont.woff') format('woff'),
		url('haeck-regular-webfont.ttf') format('truetype'),
		url('haeck-regular-webfont.svg#ZocialRegular') format('svg');
}

.haeck,
a.haeck {
	border: 1px solid #777;
	border-color: rgba(0,0,0,0.2);
	border-bottom-color: #333;
	border-bottom-color: rgba(0,0,0,0.4);
	color: #fff;
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	cursor: pointer;
	display: inline-block;
	font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
	padding: 0 .95em 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
	z-index: 100;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}

.haeck::before {
	content: "";
	border-right: 0.075em solid rgba(0,0,0,0.1);
	float: left;
	font: 120%/1.65 haeck;
	font-style: normal;
	font-weight: normal;
	margin: 0 0.5em 0 0;
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	-moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	-webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	-webkit-font-smoothing: antialiased;
}

.haeck:active {
	outline: none; /* outline is visible on :focus */
}

.haeck.icon {
	overflow: hidden;
	max-width: 2.4em;
	padding-left: 0;
	padding-right: 0;
	max-height: 2.15em;
	white-space: nowrap;
}
.haeck.icon::before {
	padding: 0;
	width: 2em;
	height: 2em;
	box-shadow: none;
	border: none;
}

.haeck {
	background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
}

.haeck:hover, .haeck:focus {
	background-image: -moz-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -ms-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -o-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), color-stop(49%, rgba(255,255,255,.15)), color-stop(51%, rgba(0,0,0,.1)), to(rgba(0,0,0,.15)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
}

.haeck:active {
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, transparent), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
}

.haeck.bitcoin,
.haeck.cloudapp,
.haeck.dropbox,
.haeck.email,
.haeck.eventful,
.haeck.github,
.haeck.gmail,
.haeck.instapaper,
.haeck.itunes,
.haeck.ninetyninedesigns,
.haeck.openid,
.haeck.plancast,
.haeck.posterous,
.haeck.reddit,
.haeck.secondary,
.haeck.viadeo,
.haeck.weibo,
.haeck.wikipedia {
	border: 1px solid #aaa;
	border-color: rgba(0,0,0,0.3);
	border-bottom-color: #777;
	border-bottom-color: rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}


.haeck.bitcoin:focus,
.haeck.bitcoin:hover,
.haeck.dropbox:focus,
.haeck.dropbox:hover,
.haeck.email:focus,
.haeck.email:hover,
.haeck.eventful:focus,
.haeck.eventful:hover,
.haeck.github:focus,
.haeck.github:hover,
.haeck.gmail:focus,
.haeck.gmail:hover,
.haeck.instapaper:focus,
.haeck.instapaper:hover,
.haeck.itunes:focus,
.haeck.itunes:hover,
.haeck.ninetyninedesigns:focus,
.haeck.ninetyninedesigns:hover,
.haeck.openid:focus,
.haeck.openid:hover,
.haeck.plancast:focus,
.haeck.plancast:hover,
.haeck.posterous:focus,
.haeck.posterous:hover,
.haeck.reddit:focus,
.haeck.reddit:hover,
.haeck.secondary:focus,
.haeck.secondary:hover,
.haeck.twitter:focus,
.haeck.viadeo:focus,
.haeck.viadeo:hover,
.haeck.weibo:focus,
.haeck.weibo:hover,
.haeck.wikipedia:focus,
.haeck.wikipedia:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), color-stop(49%, rgba(255,255,255,0.2)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.15)));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
}


.haeck.bitcoin:active,
.haeck.dropbox:active,
.haeck.email:active,
.haeck.eventful:active,
.haeck.github:active,
.haeck.gmail:active,
.haeck.instapaper:active,
.haeck.itunes:active,
.haeck.ninetyninedesigns:active,
.haeck.openid:active,
.haeck.plancast:active,
.haeck.posterous:active,
.haeck.reddit:active,
.haeck.secondary:active,
.haeck.viadeo:active,
.haeck.weibo:active,
.haeck.wikipedia:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
}

.haeck.amazon::before {content: "\E040";}
.haeck.android::before {content: "\E005";}
.haeck.aol::before {content: "\E001";}
.haeck.appstore::before {content: "\E020";}
.haeck.bitcoin::before {content: "\E011"; color: #f7931a;}
.haeck.blogger::before {content: "\E021";}
.haeck.call::before {content: "\E016";}
.haeck.cal::before {content: "\E00D";}
.haeck.cart::before {content: "\E06A";}
.haeck.chrome::before {content: "\E03A";}
.haeck.cloudapp::before {content: "\E042";}
.haeck.creativecommons::before {content: "\E022";}
.haeck.delicious::before {content: "\E002";}
.haeck.digg::before {content: "\E01A";}
.haeck.disqus::before {content: "\E030";}
.haeck.dribbble::before {content: "\E023";}
.haeck.dropbox::before {content: "\E043"; color: #1f75cc;}
.haeck.email::before {content: "\E03C"; color: #312c2a;}
.haeck.eventasaurus::before {content: "\E055"; color: #9de428;}
.haeck.eventbrite::before {content: "\E05B";}
.haeck.eventful::before {content: "\E006"; color: #0066CC;}
.haeck.evernote::before {content: "\E024";}
.haeck.facebook::before {content: "\E045";}
.haeck.fivehundredpx::before {content: "\E00F"; color: #29b6ff;}
.haeck.flattr::before {content: "\E004";}
.haeck.flickr::before {content: "\E025";}
.haeck.forrst::before {content: "\E019"; color: #50894f;}
.haeck.foursquare::before {content: "\E013";}
.haeck.github::before {content: "\E046";}
.haeck.gmail::before {content: "\E04C"; color: #f00;}
.haeck.google::before {content: "\E026";}
.haeck.googleplay::before {content: "\E05E";}
.haeck.googleplus::before {content: "\E00A";}
.haeck.gowalla::before {content: "\E01F";}
.haeck.grooveshark::before {content: "\E017";}
.haeck.guest::before {content: "\E01E";}
.haeck.html5::before {content: "\E014";}
.haeck.ie::before {content: "\E015";}
.haeck.instapaper::before {content: "\E028";}
.haeck.intensedebate::before {content: "\E05A";}
.haeck.itunes::before {content: "\E048"; color: #1a6dd2;}
.haeck.klout::before {content: "\E02A"; }
.haeck.lanyrd::before {content: "\E00C";}
.haeck.lastfm::before {content: "\E04B";}
.haeck.linkedin::before {content: "\E02B";}
.haeck.macstore::before {content: "\E03D";}
.haeck.meetup::before {content: "\E02C";}
.haeck.myspace::before {content: "\E03E";}
.haeck.ninetyninedesigns::before {content: "\E018"; color: #f50;}
.haeck.openid::before {content: "\E04E"; color: #ff921d;}
.haeck.opentable::before {content: "\E05F";}
.haeck.paypal::before {content: "\E003";}
.haeck.pinboard::before {content: "\E04D";}
.haeck.pinterest::before {content: "\E010";}
.haeck.plancast::before {content: "\E02F";}
.haeck.plurk::before {content: "\E049";}
.haeck.podcast::before {content: "\E03F";}
.haeck.posterous::before {content: "\E05D";}
.haeck.print::before {content: "\E06B";}
.haeck.quora::before {content: "\E050";}
.haeck.reddit::before {content: "\E01D"; color: red;}
.haeck.rss::before {content: "\E031";}
.haeck.scribd::before {content: "\E05C"; color: #00d5ea;}
.haeck.skype::before {content: "\E032";}
.haeck.smashing::before {content: "\E009";}
.haeck.songkick::before {content: "\E04A";}
.haeck.soundcloud::before {content: "\E052";}
.haeck.spotify::before {content: "\E01C";}
.haeck.stumbleupon::before {content: "\E00E";}
.haeck.tumblr::before {content: "\E053";}
.haeck.twitter::before {content: "\E033";}
.haeck.viadeo::before {content: "\E027"; color: #f59b20;}
.haeck.vimeo::before {content: "\E035";}
.haeck.weibo::before {content: "\E029"; color: #e6162d;}
.haeck.wikipedia::before {content: "\E00B";}
.haeck.windows::before {content: "\E036";}
.haeck.xing::before {content: "\E037"}
.haeck.wordpress::before {content: "\E056";}
.haeck.yahoo::before {content: "\E038";}
.haeck.yelp::before {content: "\E058";}
.haeck.youtube::before {content: "\E034";}
.haeck.amazon {background-color: #ffad1d; color: #030037; text-shadow: 0 1px 0 rgba(255,255,255,0.5);}
.haeck.android {background-color: #a4c639;}
.haeck.aol {background-color: #f00;}
.haeck.appstore {background-color: #000;}
.haeck.bitcoin {background-color: #efefef; color: #4d4d4d;}
.haeck.blogger {background-color: #ee5a22;}
.haeck.call {background-color: #008000;}
.haeck.cal {background-color: #d63538;}
.haeck.cart {background-color: #333;}
.haeck.chrome {background-color: #006cd4;}
.haeck.cloudapp {background-color: #fff; color: #312c2a;}
.haeck.creativecommons {background-color: #000;}
.haeck.delicious {background-color: #3271cb;}
.haeck.digg {background-color: #164673;}
.haeck.disqus {background-color: #5d8aad;}
.haeck.dribbble {background-color: #ea4c89;}
.haeck.dropbox {background-color: #fff; color: #312c2a;}
.haeck.email {background-color: #f0f0eb; color: #312c2a;}
.haeck.eventasaurus {background-color: #192931; color: #fff;}
.haeck.eventbrite {background-color: #ff5616;}
.haeck.eventful {background-color: #fff; color: #47ab15;}
.haeck.evernote {background-color: #6bb130; color: #fff;}
.haeck.facebook {background-color: #4863ae;}
.haeck.fivehundredpx {background-color: #333;}
.haeck.flattr {background-color: #8aba42;}
.haeck.flickr {background-color: #ff0084;}
.haeck.forrst {background-color: #1e360d;}
.haeck.foursquare {background-color: #44a8e0;}
.haeck.github {background-color: #fbfbfb; color: #050505;}
.haeck.gmail {background-color: #efefef; color: #222;}
.haeck.google {background-color: #4e6cf7;}
.haeck.googleplay {background-color: #000;}
.haeck.googleplus {background-color: #dd4b39;}
.haeck.gowalla {background-color: #ff720a;}
.haeck.grooveshark {background-color: #111; color:#eee;}
.haeck.guest {background-color: #1b4d6d;}
.haeck.html5 {background-color: #ff3617;}
.haeck.ie {background-color: #00a1d9;}
.haeck.instapaper {background-color: #eee; color: #222;}
.haeck.intensedebate {background-color: #0099e1;}
.haeck.klout {background-color: #e34a25;}
.haeck.itunes {background-color: #efefeb; color: #312c2a;}
.haeck.lanyrd {background-color: #2e6ac2;}
.haeck.lastfm {background-color: #dc1a23;}
.haeck.linkedin {background-color: #0083a8;}
.haeck.macstore {background-color: #007dcb}
.haeck.meetup {background-color: #ff0026;}
.haeck.myspace {background-color: #000;}
.haeck.ninetyninedesigns {background-color: #fff; color: #072243;}
.haeck.openid {background-color: #f5f5f5; color: #333;}
.haeck.opentable {background-color: #990000;}
.haeck.paypal {background-color: #fff; color: #32689a; text-shadow: 0 1px 0 rgba(255,255,255,0.5);}
.haeck.pinboard {background-color: blue;}
.haeck.pinterest {background-color: #c91618;}
.haeck.plancast {background-color: #e7ebed; color: #333;}
.haeck.plurk {background-color: #cf682f;}
.haeck.podcast {background-color: #9365ce;}
.haeck.posterous {background-color: #ffd959; color: #bc7134;}
.haeck.print {background-color: #f0f0eb; color: #222; text-shadow: 0 1px 0 rgba(255,255,255,0.8);}
.haeck.quora {background-color: #a82400;}
.haeck.reddit {background-color: #fff; color: #222;}
.haeck.rss {background-color: #ff7f25;}
.haeck.scribd {background-color: #231c1a;}
.haeck.skype {background-color: #00a2ed;}
.haeck.smashing {background-color: #ff4f27;}
.haeck.songkick {background-color: #ff0050;}
.haeck.soundcloud {background-color: #ff4500;}
.haeck.spotify {background-color: #60af00;}
.haeck.stumbleupon {background-color: #eb4924;}
.haeck.tumblr {background-color: #374a61;}
.haeck.twitter {background-color: #46c0fb;}
.haeck.viadeo {background-color: #fff;  color: #000;}
.haeck.vimeo {background-color: #00a2cd;}
.haeck.weibo {background-color: #faf6f1; color: #000;}
.haeck.wikipedia {background-color: #fff; color: #000;}
.haeck.windows {background-color: #0052a4; color: #fff;}
.haeck.wordpress {background-color: #464646;}
.haeck.xing {background-color: #0A5D5E;}
.haeck.yahoo {background-color: #a200c2;}
.haeck.yelp {background-color: #e60010;}
.haeck.youtube {background-color: #f00;}
.haeck.primary, .haeck.secondary {margin: 0.1em 0; padding: 0 1em;}
.haeck.primary::before, .haeck.secondary::before {display: none;}
.haeck.primary {background-color: #333;}
.haeck.secondary {background-color: #f0f0eb; color: #222; text-shadow: 0 1px 0 rgba(255,255,255,0.8);}

/* browser-specific adjustments */

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


